<div class="container">
    <div class="body">
        <h1>Orders</h1>
        <mat-card class="my-5">
            <form class="create-form" [formGroup]="createForm" (ngSubmit)="createOrder(f)" #f="ngForm">
                <div class="row">
                    <div class="col-10">
                        <mat-form-field class="full-width-input">
                            <mat-label>Request</mat-label>
                            <input matInput placeholder="I want to be a Hero" name="request" formControlName="request">
                        </mat-form-field>
                        <mat-error
                            *ngIf="createForm.get('request').errors?.required && createForm.get('request')?.touched">
                            This Field is required.
                        </mat-error>
                    </div>
                    <button mat-raised-button class="ml-1 create-btn">Create</button>
                </div>
            </form>
        </mat-card>
        <div class="order" *ngFor="let order of orders">
            <mat-card class="mt-5">
                <mat-card-header>
                    <mat-card-title>{{ order.owner_details }}
                        <span class="badge badge-pill badge-success" *ngIf="order.doer">
                            <small>{{ order.doer }}</small>
                        </span>
                    </mat-card-title>
                    <mat-card-subtitle>{{ order.created }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{ order.request }}
                    </p>
                </mat-card-content>
            </mat-card>
            <div class="mt-2" matBadge="{{ order.requests.length }}" matBadgePosition="after" matBadgeColor="primary">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Requests</mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-order-details [order]="order"></app-order-details>
                </mat-expansion-panel>
            </div>
        </div>
    </div>
</div>