<mat-card class="request-card my-2" *ngFor="let request of order.requests">
    <mat-card-header>
        <mat-card-title>{{ request.doer_details }}</mat-card-title>
        <mat-card-subtitle>{{ request.created }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-card-actions [ngSwitch]="request.status">
            <div *ngSwitchCase="'pending'">
                <button mat-raised-button color="primary">Accept</button>
                <button mat-raised-button color="warn">Refuse</button>
            </div>

            <div *ngSwitchCase="'accepted'">

            </div>

            <div *ngSwitchCase="'Refused'">

            </div>
        </mat-card-actions>
    </mat-card-content>
</mat-card>